<ion-header>
  <ion-navbar [color]="localStorageService.getClientColor()" >
    <ion-title>Add a Friend</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" required placeholder="Your friend's E-Mail"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button (click)="addFriendByEMail()" [color]="localStorageService.getClientColor()">Add</button>
      <button ion-button (click)="viewCtrl.dismiss()" [color]="localStorageService.getClientColor()">Abort</button>
    </ion-item>

  </ion-list>

</ion-content>
