<ion-header>

  <ion-navbar [color]="localStorageService.getClientColor()">

    <ion-title>Friends</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showFriendLeaderboard()">
        <ion-icon name="podium"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showAddFriend()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item-sliding *ngFor="let friendProfile of filteredFriendProfiles">
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="friendProfile.profilePicture"/>
        </ion-thumbnail>
        <h2>{{friendProfile.name}}</h2>
        <p>{{friendProfile.cash}} Coins</p>
        <button ion-button clear item-end (click)="showFriendProfilePage(friendProfile)">View</button>
      </ion-item>

      <ion-item-sliding>
        <button ion-button color="danger" (click)="deleteFriend(friendProfile)">Delete</button>
      </ion-item-sliding>

    </ion-item-sliding>

  </ion-list>

</ion-content>
