<ion-header>

  <ion-navbar [color]="localStorageService.getClientColor()">

    <ion-title>Friends</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showFriendLeaderboard()">
        <ion-icon name="podium"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showAddFriend()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let friendProfile of filteredFriendProfiles">
      <ion-thumbnail item-start>
        <img [src]=""/>
      </ion-thumbnail>
      <h2>{{friendProfile.name}}</h2>
      <p>{{friendProfile.cash}} Coins</p>
      <button ion-button clear item-end (click)="showFriendProfilePage(friendProfile)">View</button>
    </ion-item>
  </ion-list>

</ion-content>
