<!--ion-header style="background: url('../../assets/table/table.png') no-repeat center;"-->
<ion-header>
  <style>
    lobby-ingame-page {

    }

    .align-center{
      display:flex;
      justify-content: center;
    }

    .align-left{
      display: flex;
      justify-content: flex-start;
    }

    .align-right{
      display:flex;
      justify-content: flex-end;
    }

    ion-content {
      background: url('assets/svg/Table/table.svg') no-repeat center center fixed;
    }

    ion-grid {
      height: 100%;
      width: 100%;
      display:flex;
    }
  </style>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="align-left">
        <div *ngIf="loaded && lobby.players.length >= 3 && lobby.players[(playerNumber+2)%lobby.players.length].playing">
          <img src="assets/svg/cardbacks/custom1.svg">
          <img src="assets/svg/cardbacks/custom1.svg">
        </div>
      </ion-col>
      <ion-col class="align-center">
        <h5>Pot: {{lobby.pot}}</h5>
      </ion-col>
      <ion-col class="align-right">
        <div *ngIf="loaded && lobby.players.length >= 4 && lobby.players[(playerNumber+3)%lobby.players.length].playing">
          <img src="assets/svg/cardbacks/custom1.svg">
          <img src="assets/svg/cardbacks/custom1.svg">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-left">
        <ion-label *ngIf="loaded && lobby.players.length >= 3 && lobby.players[(playerNumber+2)%lobby.players.length].playing" class="align-left">
          <p>{{lobby.players[(playerNumber+2)%lobby.players.length].name}}</p>
          <p>(Chips: {{lobby.players[(playerNumber+2)%lobby.players.length].cash}})</p>
        </ion-label>
      </ion-col>
      <ion-col class="align-center">
        <img id="table1" src="assets/svg/cardbacks/custom1.svg">
        <img id="table2" src="assets/svg/cardbacks/custom1.svg">
        <img id="table3" src="assets/svg/cardbacks/custom1.svg">
        <img id="table4" src="assets/svg/cardbacks/custom1.svg">
        <img id="table5" src="assets/svg/cardbacks/custom1.svg">
      </ion-col>
      <ion-col class="align-right">
        <ion-label *ngIf="loaded && lobby.players.length >= 4 && lobby.players[(playerNumber+3)%lobby.players.length].playing" class="align-right">
          <p>{{lobby.players[(playerNumber+3)%lobby.players.length].name}}</p>
          <p>(Chips: {{lobby.players[(playerNumber+3)%lobby.players.length].cash}})</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-left">
        <div *ngIf="loaded && lobby.players.length >= 2 && lobby.players[(playerNumber+1)%lobby.players.length].playing">
          <img src="assets/svg/cardbacks/custom1.svg">
          <img src="assets/svg/cardbacks/custom1.svg">
        </div>
      </ion-col>
      <ion-col class="align-right">
        <div *ngIf="loaded && lobby.players.length == 5 && lobby.players[(playerNumber+4)%lobby.players.length].playing">
          <img src="assets/svg/cardbacks/custom1.svg">
          <img src="assets/svg/cardbacks/custom1.svg">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-left">
        <ion-label *ngIf="loaded && lobby.players.length >= 2 && lobby.players[(playerNumber+1)%lobby.players.length].playing" class="align-left">
          <p>{{lobby.players[(playerNumber+1)%lobby.players.length].name}}</p>
          <p>(Chips: {{lobby.players[(playerNumber+1)%lobby.players.length].cash}})</p>
        </ion-label>
      </ion-col>
      <ion-col class="align-center">
        <button ion-fab (click)="call()" *ngIf="lobby.activePlayer == playerNumber">Call</button>
      </ion-col>
      <ion-col class="align-center">
        <img id="self1" src="assets/svg/cardbacks/custom1.svg">
        <img id="self2" src="assets/svg/cardbacks/custom1.svg">
      </ion-col>
      <ion-col class="align-center">
        <button ion-fab (click)="check()" *ngIf="lobby.activePlayer == playerNumber">Check</button>
      </ion-col>
      <ion-col class="align-right">
        <ion-label *ngIf="loaded && lobby.players.length == 5 && lobby.players[(playerNumber+4)%lobby.players.length].playing" class="align-right">
          <p>{{lobby.players[(playerNumber+4)%lobby.players.length].name}}</p>
          <p>(Chips: {{lobby.players[(playerNumber+4)%lobby.players.length].cash}})</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col class="align-center">
        <button ion-fab (click)="raise()" *ngIf="lobby.activePlayer == playerNumber">Raise</button>
      </ion-col>
      <ion-col class="align-center">
        <ion-label *ngIf="loaded" class="align-center">
            <p>{{lobby.players[playerNumber].name}}</p>
            <p>(Chips: {{lobby.players[playerNumber].cash}})</p>
        </ion-label>
      </ion-col>
      <ion-col class="align-center">
        <button ion-fab (click)="pass()" *ngIf="lobby.activePlayer == playerNumber">Pass</button>
      </ion-col>
      <ion-col class="align-right">
        <button ion-fab (click)="quitLobby()">Leave</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
