<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ion-header>
    <ion-navbar [color]="localStorageService.getClientColor()">
      <ion-title>Waiting in Lobby {{lobby.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-label *ngIf="lobby.players[0].playing">
    <h2>Round is running. Please wait...</h2>
  </ion-label>
  <ion-label>
    <h2>Spieler in der Lobby:</h2>
  </ion-label>
  <ion-list *ngIf="lobby.players.length > 0">
    <div *ngFor="let player of lobby.players">
      <h5>
        {{player.name}}
      </h5>
      <ion-label *ngIf="player.playing">In Game</ion-label>
      <ion-label *ngIf="!player.playing">Waiting</ion-label>
    </div>
  </ion-list>

  <ion-buttons>
    <button ion-button (click)="leaveWaiting(false)" [color]="localStorageService.getClientColor()">Leave Lobby</button>
    <button ion-button (click)="leaveWaiting(true)" *ngIf="playerNumber == 0 && lobby.players.length >= 2" [color]="localStorageService.getClientColor()">Start Game</button>
  </ion-buttons>
</ion-content>
</body>
</html>
