<!--ion-header style="background: url('../../assets/table/table.png') no-repeat center;"-->
<ion-header>
  <style>
    lobby-ingame-page {

    }

    ion-grid {
      height: 100%;
    }
    table#t01 {
      width: 100%;
      height: 100%;
      background: url('../../assets/svg/Table/table.svg') no-repeat center;
    }
  </style>
</ion-header>
<ion-content>
  <ion-buttons>
    <button ion-button (click)="quitLobby()">Leave</button>
  </ion-buttons>

  <!--table id="t01">
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
        <ion-fab>
          <button ion-fab>A</button>
        </ion-fab>
      </td>
      <td>
        <ion-fab>
          <button ion-fab>B</button>
        </ion-fab>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
        <ion-fab>
          <button ion-fab>C</button>
        </ion-fab>
      </td>
      <td>
        <ion-fab>
          <button ion-fab>D</button>
        </ion-fab>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
  </table-->

  <!-- TODO Ist noch ungetestet, sieht vermutlich kacke aus, konnte keinen LocalHost machen -->
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <button ion-fab>A</button>
      </ion-col>
      <ion-col>
        <button ion-fab>C</button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <button ion-fab>A</button>
      </ion-col>
      <ion-col>
        <button ion-fab>C</button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
