<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>
  <ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button (click)="signIn()" block>Sign In</button>
    </div>
    <div padding>
      <button ion-button (click)="createAccount()" block>Create new Account</button>
    </div>
  </ion-content>
</body>
</html>
