<ion-header>
  <ion-navbar>
    <ion-title>Registrierung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input type="email" placeholder="E-Mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Passwort</ion-label>
      <ion-input type="password" placeholder="Passwort"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Wiederhole Passwort</ion-label>
      <ion-input type="password" placeholder="Wiederhole Passwort"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button (click)="createAccount()" block>Account anlegen</button>
  </div>
</ion-content>
