<ion-header>
  <ion-navbar color="primary">
    <ion-title>Registrierung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Displayname</ion-label>
      <ion-input type="text" [(ngModel)]="displayname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input type="email"[(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="passwordConfirmation"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button (click)="createAccount()" block>Account anlegen</button>
  </div>
</ion-content>
