<ion-header>

  <ion-navbar>

    <ion-title>Profile</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>

      <!-- TODO - muss noch mit echtem Attribute auf Profile versehen werden! -->
      <ion-img id="profilePic" src="https://firebasestorage.googleapis.com/v0/b/poker-b817e.appspot.com/o/800.jpg?alt=media&token=ac1ade47-8c44-4037-9993-5541a6e819dd"></ion-img>

    </ion-item>

    <ion-item>
      <button ion-button (click)="uploadPicture()">Bild ändern</button>
    </ion-item>

    <ion-item>
      <!-- TODO - ist der Text wirklich notwendig? -->
      <p>Hier könnte ihre Werbung stehen!</p>

    </ion-item>

    <ion-item>

      <ion-icon name="ribbon" item-start></ion-icon>

      Achievements

      <ion-badge item-end>{{profile.getAccomplishedAchievements()}}/{{profile.achievements.length}}</ion-badge>
    </ion-item>

    <ion-item>

      <ion-icon name="logo-euro" item-start></ion-icon>

      Coins

      <ion-badge item-end>{{profile.cash}}</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
