<ion-header>

  <ion-navbar [color]="localStorageService.getClientColor()">


    <ion-title *ngIf="profile">{{profile.name}}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- TODO - align image center! -->
  <img *ngIf="profile && allAchievements" style="align-items: center; width: 100vw; height: 50vh"
       [src]="profile.profilePicture"/>

  <ion-list *ngIf="profile && allAchievements">


    <ion-item *ngIf="isMyProfile">
      <button ion-button (click)="uploadPicture()" [color]="localStorageService.getClientColor()">Change picture</button>
    </ion-item>

    <button ion-item (click)="showAchievements()">
      <ion-icon name="ribbon" item-start></ion-icon>
      Achievements
      <ion-badge item-end [color]="localStorageService.getClientColor()">{{getAccomplishedAchievementsLength()}}/{{allAchievements.length}}</ion-badge>
    </button>

    <ion-item>
      <ion-icon name="logo-euro" item-start></ion-icon>

      Coins

      <ion-badge item-end [color]="localStorageService.getClientColor()">{{profile.cash}}</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
