<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!showSearchbar">Achievements</ion-title>

    <ion-buttons *ngIf="!showSearchbar" end>

      <button ion-button icon-only (click)="setShowSearchBar(true)">
        <ion-icon name="search"></ion-icon>
      </button>

    </ion-buttons>


    <ion-searchbar  *ngIf="showSearchbar"
                    [(ngModel)]="searchQuery"
                    (ionInput)="doSearch()"
                    (ionClear)="clearSearchbar()"
                    [showCancelButton]="true"
                    (ionCancel)="setShowSearchBar(false)">
    </ion-searchbar>
  </ion-navbar>


</ion-header>

<ion-content>

  <ion-list>

    <button ion-item
            *ngFor="let achievement of filteredAchievements"
            (click)="showAchievementDetails(achievement)"
            [ngClass]="{'colorLight' : !achievement.accomplished, 'colorBlack' : achievement.accomplished}" >
      {{achievement.name}}<span float-right>{{achievement.points}}</span>
    </button>

    <ion-item>
      <ion-label>Erreichte Punktzahl: <span float-right>{{sumAchievementPoints}}</span></ion-label>
    </ion-item>

  </ion-list>



</ion-content>
