<ion-header>

  <ion-navbar [color]="localStorageService.getClientColor()">

    <ion-title>Client Options</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Use custom options</ion-label>
      <ion-toggle (ionChange)="toggleUseCustomOptions()" [color]="localStorageService.getClientColor()" [ngModel]="useCustomOptions"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="useCustomOptions">
    <header><strong>Cardbacks</strong></header>
    <button ion-item style="color: #222" (click)="pushCardbackPickerPage()">
      Change my Cardback<span float-right><ion-icon md="md-arrow-forward"></ion-icon></span>
    </button>
    <ion-item>
      <ion-label>Appearance</ion-label>
      <ion-select [(ngModel)]="cardbackAppearance">
        <ion-option value="ShowOthersCardbacks">Display other´s cardbacks</ion-option>
        <ion-option value="ShowOnlyMyCardback">Display only my cardback</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="useCustomOptions">
    <header><strong>Colorize your app !</strong></header>
    <ion-item>
      <header><strong>Layout Color</strong></header>
      <ion-range (ionChange)="adjustLayoutColor()" min="0" max="20" step="1" snaps="true" [color]="localStorageService.getClientColor()" [(ngModel)]="colorPickerValue"></ion-range>
    </ion-item>
  </ion-list>

</ion-content>
