<ion-header>

  <ion-navbar [color]="localStorageService.getClientColor()">

    <ion-title>Settings</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list style="padding: 0px !important; margin: 0px !important;">

    <ion-item>
      <button ion-button full block clear (click)="showImpressum()">
        Impressum
      </button>
    </ion-item>

    <ion-item>
      <button ion-button full block clear (click)="showClientOptions()">
        Client Options
      </button>
    </ion-item>

    <ion-item>
      <button ion-button full block clear (click)="logout()">
        Logout
      </button>
    </ion-item>

  </ion-list>

</ion-content>
